body {
    font-size: 16px;
    color: black
}

.navbar {
    background-color: slategrey;
    padding-bottom: 0;
}
.navbar-brand h2 {
    color: black;
}
button.navbar-toggler {
    margin-bottom: 10px;
}
.navbar-nav {
    text-align: center;
    background-color: pink;
    margin: 10px 0 0 0;
}
.navbar .nav-item {
    border: 1px solid black;
}
.navbar-brand a:link{
    text-decoration: none;
}
h1 {
    margin-top: 20px;
    margin-bottom: 40px;
}
.menu-item {
    height: 1000px;
    margin: 20px auto 0;
    background-color: bisque;
    padding: 10px 20px 0 20px;
}
.menu-item span:nth-child(1) {
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
}
